# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
ENV/
pruebaEnv/

# MongoDB no se almacena localmente en archivos, pero si tienes archivos de datos, exclúyelos aquí

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Archivos de configuración sensibles (ejemplo: si tienes un archivo con contraseñas)
.env