{% extends "index.html" %}

{% block finanzas %}
<section id="ingresos" class="card">
    <h2>💰 Ingresos</h2>
    {% block button %}
    <a href="#" class="add-button" onclick="mostrarFormularioAgregar(); crearIngreso()">+ Agregar Ingreso</a>
    {% endblock %}

    {% if informacion %}
    {% regroup informacion by fecha.date as ingresosDia %}

    {% for grupo in ingresosDia %}
    <h3>{{ grupo.grouper|date:"l d M Y" }}</h3>
    <table class="tabla-ingresos">
        <thead>
            <tr>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Método de Pago</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ingreso in grupo.list %}
            <tr>
                <td>{{ ingreso.concepto }}</td>
                <td>${{ ingreso.monto }}</td>
                <td>{{ ingreso.metodoPago|capfirst }}</td>
                <td>{{ ingreso.descripcion }}</td>
                <td class="bottones">
                    <a href="{% url 'mostrarIngreso' ingreso.id %}" class="btn-icon editar" title="Editar">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="#" onclick="mostrarAlerta(this); mostrarFormularioAlerta()" href-id="{{ ingreso.id }}"
                        concepto="{{ ingreso.concepto|escapejs }}" class="btn-icon eliminar" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <p>No hay ingresos registrados.</p>
    {% endif %}
</section>
{% endblock %}

{% block formulario %}
<form action="" method="post" id="formInformation">
    {% csrf_token %}
    <label for="">Concepto: </label>
    {{formulario.concepto}}
    <label for="">Monto: </label>
    {{formulario.monto}}
    <label for="">Fecha: </label>
    {{formulario.fecha}}
    <label for="">Metodo de pago: </label>
    {{formulario.metodoPago}}
    <label for="">Descripcion: </label>
    {{formulario.descripcion}}
    <br>
    <button type="submit">Guardar Ingreso</button>
</form>
{% endblock %}

{% block AlertaFormulario %}
<form action="" method="post" id="formAlert">
    {% csrf_token %}
    <h1>¿Desea eliminar el Ingreso?</h1>
    <h2></h2>
    <button type="submit">Sí</button>
    <button type="button" onclick="cerrarAlerta()">No</button>
</form>
{% endblock%}


{% block scripts %}
<script>
    function crearIngreso() {
        const campos = ["concepto", "monto", "fecha", "metodoPago", "descripcion"];

        campos.forEach(nombre => {
            const campo = document.getElementsByName(nombre)[0];
            if (campo) {
                campo.value = "";
            }
        });

        const formulario = document.getElementById("formInformation");
        formulario.action = "{% url 'crearIngreso' %}";
    }

    function mostrarAlerta(elemento) {
        const idIngreso = elemento.getAttribute("href-id")
        const concepto = elemento.getAttribute("concepto")
        const formularioAlerta = document.getElementById("formAlert");

        formularioAlerta.action = `/contabilidad/finanzas/ingresos/del/${idIngreso}`;

        const h2 = formularioAlerta.querySelector("h2");
        h2.innerText = `${concepto}`;

    }


    // function mostrarAlerta(idIngreso, concepto) {
    //     const formularioAlerta =  document.getElementById("formAlert");

    //     formularioAlerta.action = `/contabilidad/finanzas/ingresos/del/${idIngreso}`;

    //     const h2 = formularioAlerta.querySelector("h2");
    //     h2.innerText = `${concepto}`;

    // }
</script>
{% endblock %}